<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,shrink-to-fit=no"/>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title><%= title %></title>
    <%- preload %>
    <%- styles %>
    <script type="application/json" id="relay-store"><%- relayStore %></script>
</head>
<body>
<div id="root"></div>
<%- scripts %>
</body>
</html>