<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,shrink-to-fit=no"/>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="browser-language" content="<%= i18nextLang %>">
    <title><%= title %></title>
    <%- preload %>
    <%- styles %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:700' rel='stylesheet' type="text/css">
    <script type="application/json" id="relay-store"><%- relayStore %></script>
    <script type="application/json" id="i18next-store"><%- i18nextStore %></script>
</head>
<body style="background-color:#1a1a1a">
<div id="root"></div>
<%- scripts %>
</body>
</html>