<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {{{title}}}
  {{{link}}}
  <link rel="shortcut icon" href="{{publicPath}}favicon.ico">
  <link rel="manifest" href="{{publicPath}}manifest.json">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,shrink-to-fit=no" />
  <meta name="csrf-token" content="{{csrfToken}}">
  <meta name="nonce" content="{{nonce}}">
  <meta name="browser-language" content="{{i18nextLang}}">
  {{{meta}}}
  {{{preload}}}
  {{> fonts}}
  {{{styles}}}
  <style nonce="{{nonce}}" data-emotion="od {{emotionIds}}">{{{emotionCss}}}</style>
  <script nonce="{{nonce}}" type="application/json" id="runtime-store">{{{runtimeStore}}}</script>
  <script nonce="{{nonce}}" type="application/json" id="relay-store">{{{relayStore}}}</script>
  <script nonce="{{nonce}}" type="application/json" id="i18next-store">{{{i18nextStore}}}</script>
  <script nonce="{{nonce}}" type="application/json" id="flash-store">{{{flashStore}}}</script>
</head>
<body>{{{body}}}</body>
</html>